diff a/fs/Kconfig b/fs/Kconfig	(rejected hunks)
@@ -275,6 +275,11 @@ endif
 source "fs/nls/Kconfig"
 source "fs/dlm/Kconfig"
 
+config ASYNC_FSYNC
+  bool
+  string "asynchronous fsync"
+  default y
+
 config DYNAMIC_FSYNC
 	bool "dynamic file sync control"
 	default n
