diff a/arch/arm/mach-omap2/Kconfig b/arch/arm/mach-omap2/Kconfig	(rejected hunks)
@@ -464,4 +464,11 @@ config FORCE_FAST_CHARGE
 	  A simple sysfs interface to force adapters that
 	  are detected as USB to charge as AC.
 
+config RQ_STATS
+	bool "Enable Run queue statistics"
+	default n
+	help
+	  Select this to enable scheduler rune queue statistic
+	  collections
+
 endif
